/* Global Styles */

html, body {height: 100%;}

body {padding-top: 110px;}
.addthis {position:fixed; left:0; top:160px; z-index:999; width:50px}

/*Mega Menu*/

.navbar-fixed-top {height:110px; background: url(../images/navbar-bg.jpg) top right no-repeat #89be41}
.navbar-icon {float:right}
.navbar-default .navbar-icon > li > a {padding:13px 10px 12px; color:#fff}
.navbar-fluid {background:#57aa47}
.navbar-fluid .navbar-right > li > a {color:#fff}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {background:#4e9940; color:#fff}
.navbar-brand {width: 130px; height: 110px; background: url(../images/logo.jpg) no-repeat center center;background-size: 140px;}
.nav-tabs {display: inline-block;border-bottom: none;padding-top: 15px;font-weight: bold;}
.nav-tabs > li > a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {border: none; border-radius: 0;}

.nav-list { border-bottom: 1px solid #eee; }
.nav-list > li {padding: 20px 15px 15px; border-left: 1px solid #eee;}
.nav-list > li:last-child {border-right: 1px solid #eee;}
.nav-list > li > a:hover {text-decoration: none;}
.nav-list > li > a > span {display: block; font-weight: bold; text-transform: uppercase;}
.mega-dropdown {position: static !important; }
.mega-dropdown-menu {padding: 20px 15px 15px; text-align: center; width: 100%;}

.img-portfolio {margin-bottom: 30px;}
.img-hover:hover {opacity: 0.8;}

/* Home Page Carousel */
header.carousel {height: 80%;}
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {height: 100%;}

header.carousel .fill {width: 100%;height: 100%;background-position: top;background-size: cover;}

/* 404 Page Styles */
.error-404 {font-size: 100px;}


/* Pricing Page Styles */
.price {display: block;font-size: 50px;line-height: 50px;}
.price sup {top: -20px;left: 2px;font-size: 20px;}
.period {display: block;font-style: italic;}


/* Footer Styles */
footer {padding: 50px 0 0; background:#141414; color:#fff}
footer .social-link li a {color:#fff}
footer .copyright {border-top:8px solid #010101; margin-top:15px; padding:12px 0 8px}
footer .copyright  ul.list-inline li a {color:#fff;}
footer .copyright  ul.list-inline li:after {content:'|'; margin-left:10px}


/* Responsive Styles */
@media (min-width: 768px) {
	.navbar-nav > li > a {padding:8px 15px}
	.navbar-header {position:absolute;}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left:0}
	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {color:#2B741D}
}
@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}